@{
    ViewData["Title"] = "Ahoy";
    var roles = new[] { "Kapitan", "User", "Moderacja" };
    var isInRole = roles.Any(role => User.IsInRole(role));
}

 <div class="text-center">
    <h1 class="display-4">Ahoy Żeglarzu</h1>@*
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div> 
@* @if (User.Identity.IsAuthenticated){
    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Edit">
        Dokończ rejestrację jeżeli jeszcze tego nie zrobiłeś 
    </a>
} *@
@if (User.Identity.IsAuthenticated)//isInRole)
{
    <p>Jeżeli chcesz mieć dostęp do większej ilości funkcji wyślij dokument uprawnijący cię do sterowania jachtem na adres mail: Ahoy@gmail.com</p>
}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    
    <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Yachts" asp-action="Index">Jachty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cruises" asp-action="Index">Rejsy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="YachtSales" asp-action="Index">Sprzedaż Jachtów</a>
            </li>
             
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Charters" asp-action="Index">Czarter Jachtów</a>
            </li>
    </ul>
</div>