################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/134fce92-8c8a-47c1-b583-1a16dd21242b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3ccae8d7-9e83-4995-ae68-4dabd2f74c3a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4a501d76-ed44-4403-aa55-a197be895dea.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/76cba431-9941-4adc-ab5f-97cad9a6c335.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/09540ef9-d8a6-4c8f-8b49-b5a02d94dc7e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1a7a75e2-a4d9-4d52-925d-f82158490db9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d2040010-3422-425d-b5cb-fd3d1e8ef83c.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0ea19892-1b94-48cc-a95c-b81c8e87d872.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/20094610-dd45-43de-afaf-80ea17da0d13.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/36335efb-a0df-4c1f-9c4f-aae2bc29541a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4aa79e53-ec56-44b6-b9e1-d795c672cacc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7794dc3a-1d39-4779-88fa-6197930743a0.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/90062420-5683-4b1a-80dd-55d5f53e84d5.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/2bec19ed-7e99-4b30-b97a-9be593c744aa.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/5095c19b-9f91-403e-a480-8f6b17d2157a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/972cdd75-5c2e-4fee-a6de-afe762a77f87.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ca4804ab-875e-4091-b603-894cfe5ba096.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d7b77c96-889b-4517-b863-ea805be3f5f1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/DesignTimeBuild/.dtbcache.v2
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/13ba7128-318f-4b21-8cef-1a418385231d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/5a652823-8a6d-4ea1-b7ac-9f9f456d4304.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/afe5a433-5711-4f55-9170-55de596deb54.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/c3db0d59-443d-43c8-94ad-8aef95e5bedb.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f99c4dff-5848-460f-93a7-d186d604baec.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/v17/.futdcache.v2
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0edafe03-c75a-4c62-9e03-28261595fa68.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4697022b-a6b6-4af6-b83e-c007106e42d1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/b0851a94-9f02-4723-8fd9-4499d7c1fe46.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e8a99b33-f79e-4ff9-b484-f8d29728eb41.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3c476a21-f36b-4b45-8e13-c04af2f07132.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4050079d-96b2-40cb-bc7d-6d993ce7f5fc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/01f460e3-7cb6-4cf2-b7ca-1a21e2a256a9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1ea47b75-79c7-4759-bc75-16929b7644a9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/6b520aaa-477f-461d-a0e4-fb214eb6b4d9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9f8c3b09-083c-46fc-bb46-7c90d216ae15.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/df5ade1f-ad76-4389-80e0-7a3e192bbc32.vsidx
