################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/134fce92-8c8a-47c1-b583-1a16dd21242b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3ccae8d7-9e83-4995-ae68-4dabd2f74c3a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4a501d76-ed44-4403-aa55-a197be895dea.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/76cba431-9941-4adc-ab5f-97cad9a6c335.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/09540ef9-d8a6-4c8f-8b49-b5a02d94dc7e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1a7a75e2-a4d9-4d52-925d-f82158490db9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d2040010-3422-425d-b5cb-fd3d1e8ef83c.vsidx
