################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/134fce92-8c8a-47c1-b583-1a16dd21242b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3ccae8d7-9e83-4995-ae68-4dabd2f74c3a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4a501d76-ed44-4403-aa55-a197be895dea.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/76cba431-9941-4adc-ab5f-97cad9a6c335.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/09540ef9-d8a6-4c8f-8b49-b5a02d94dc7e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1a7a75e2-a4d9-4d52-925d-f82158490db9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d2040010-3422-425d-b5cb-fd3d1e8ef83c.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0ea19892-1b94-48cc-a95c-b81c8e87d872.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/20094610-dd45-43de-afaf-80ea17da0d13.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/36335efb-a0df-4c1f-9c4f-aae2bc29541a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4aa79e53-ec56-44b6-b9e1-d795c672cacc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7794dc3a-1d39-4779-88fa-6197930743a0.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/90062420-5683-4b1a-80dd-55d5f53e84d5.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/2bec19ed-7e99-4b30-b97a-9be593c744aa.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/5095c19b-9f91-403e-a480-8f6b17d2157a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/972cdd75-5c2e-4fee-a6de-afe762a77f87.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ca4804ab-875e-4091-b603-894cfe5ba096.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d7b77c96-889b-4517-b863-ea805be3f5f1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/DesignTimeBuild/.dtbcache.v2
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/13ba7128-318f-4b21-8cef-1a418385231d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/5a652823-8a6d-4ea1-b7ac-9f9f456d4304.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/afe5a433-5711-4f55-9170-55de596deb54.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/c3db0d59-443d-43c8-94ad-8aef95e5bedb.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f99c4dff-5848-460f-93a7-d186d604baec.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/v17/.futdcache.v2
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0edafe03-c75a-4c62-9e03-28261595fa68.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4697022b-a6b6-4af6-b83e-c007106e42d1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/b0851a94-9f02-4723-8fd9-4499d7c1fe46.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e8a99b33-f79e-4ff9-b484-f8d29728eb41.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3c476a21-f36b-4b45-8e13-c04af2f07132.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4050079d-96b2-40cb-bc7d-6d993ce7f5fc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/01f460e3-7cb6-4cf2-b7ca-1a21e2a256a9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1ea47b75-79c7-4759-bc75-16929b7644a9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/6b520aaa-477f-461d-a0e4-fb214eb6b4d9.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9f8c3b09-083c-46fc-bb46-7c90d216ae15.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/df5ade1f-ad76-4389-80e0-7a3e192bbc32.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/156568f0-fc6b-46dc-9af2-cfff6bc20860.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/595cc5c7-1253-4813-852d-d676f7afec69.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8c45aaf7-5d14-432e-80a2-92c741bcf4ec.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/fcf2b29c-d2b3-4ef4-b33c-93d6d54182b8.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/216505da-5fb0-443a-87bf-764629cdf341.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/42069dd6-c729-4a7d-b892-721cc79c1b5e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9cb5f9ca-332d-4f50-8cba-164457829456.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d24e103f-bcca-492a-805d-a8d4a360bdb8.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d752a38c-a1f4-4faf-8392-7cd6e1c2424a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/00ffca4f-0b74-48f8-9870-70959b921dad.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/2683902b-eb4d-4995-ac65-3f9d3acdc95d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/45a4cdb8-8512-455d-8934-ba4fa4e03952.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/55bad8f8-4d35-4438-9ed1-6a921ea8704b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d6e828a7-269a-49ec-9a1f-0ef71aaf5f0c.vsidx
/Inzynierka/Inzynierka/Inzynierka/Program.cs
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/692373f9-5afd-48ea-9d5a-2be72b0a641d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/741efec0-4b01-4961-8acc-8c161ae90835.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/863b56d5-8b21-4956-a59e-329d483e71e3.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9eb7c943-6f78-44e2-97c6-1051576f1115.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/388dda70-a875-4a4c-8354-0e9807952365.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4cdbb2d4-afc3-4d66-bf7e-fd893ee5a09d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/789ef4bd-5cfe-4ea1-b386-8f702b8ccccb.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/b6529d9f-2e2e-4b26-8eb7-6d128750ea28.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/1a2647bc-d300-460e-bd5f-56f255049191.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/256daa4d-bbab-440d-9eee-9c72c5be1447.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4e611d27-c2a3-4c6c-8ee7-327aa1921479.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/de0bfb71-a835-4fb0-b931-d691079c0416.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/fb0d01d7-7635-4555-a748-717bdb24bd23.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/69705c03-80dd-4a27-877e-5261644a86d4.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7f3b1bf0-c8df-42c6-8344-3c3b365328bc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/01172175-f141-4f0a-80e4-81c19b572c92.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3edf3f73-9ed6-46ef-b3b4-9f8b865920b1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7f7dad73-ffbd-425f-a762-e53e8dcbc7d8.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/c449df82-2d5e-4207-bc92-2883d065163e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7be4b187-9e16-4a81-ad03-8cd39b48a9ae.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d06776de-d021-4883-869e-4c861396dd3f.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/07e66d0a-937e-43d1-8ed3-0c9aab2cfbcb.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/40bb7e2c-5c5f-4f20-b68e-85685faa3139.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/c72d6da4-69f2-42bc-8bca-74cbf34148ae.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/cd11037f-28c1-4918-a323-dead436952f5.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/c4b239a8-3c4c-405a-b8b7-3e795c367554.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/20b5daae-b69e-46bc-80c1-063e645b7e11.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8e9ff054-e287-47c8-9488-080a7828aac3.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/a9bf2278-0b8a-445b-b069-5aa8bb0d25e2.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ec20c1b4-ae9a-40fa-ad56-0e026db0d638.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/5acacf56-e17b-4ac9-b755-27c4a68fc859.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7e2b4924-c98e-4ba9-b9f3-aa411c3b8187.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/558c1bcc-1dcc-45e2-be10-f549ee8a664e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/6b8d999a-6f30-4816-b845-62f34e3225e2.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9bb9cc3e-8105-4f5e-a51a-d5018ff692b7.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/3a0558f8-f4b1-4787-80aa-b6c90db8dfe0.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/881a339e-3465-4566-ab28-a61753b93798.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/98b1aa37-1e80-40fc-aee1-70514ddeef7f.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/246caf56-5706-44cf-8783-5fcbc6764e2e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/81b8a7fe-9904-405a-8aa8-d7cbd05199e4.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d3c7b944-2a17-4e57-82df-d9569647cae7.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e717e2d1-ffda-4b9b-bc1d-b29b38a94061.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/60f8070e-b93f-4f9a-88d5-7b9178ffbfaa.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e85a7704-0ef4-4a58-8822-20f64600987d.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/fa4acd63-af64-4ec8-a5e3-099a99b37b05.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/65536805-25d0-4d45-893e-b606b9f16cc2.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8652312a-1011-423b-9c94-902e0677eab1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/b9004836-5e06-44fd-8507-43e03ac45043.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f1afc06d-fda9-4562-ba7a-0b84a744f6c1.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f61ec526-2132-4f9d-b1f9-92fc71896993.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9177d2cf-f8c2-42a0-9586-a33f90b9f102.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/98808feb-7846-4fdf-90ba-7b9cc5461937.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/9daada13-5c4c-4c52-8837-17f443a94db2.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f1bbc73a-4e34-42dc-aeeb-f6dbbc356853.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0abd84aa-7a2c-419d-8315-3dbf00bfbc60.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/96454309-c6a0-424b-99d4-b378cef24c63.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ad926040-3274-49e1-a37f-7187abbe24d3.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/241d0eb1-3588-4282-ad04-d36d72510354.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/533cdff3-5726-4018-bc09-b61736be6601.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/bd6a32ef-21da-45c6-ad45-6e5e09b4ca61.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e0ff4735-cd48-4555-bf06-cf56d86791ce.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f8b8e517-e5a9-451d-97de-e320e1ea2983.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/0cbfffc7-f768-41db-816c-5a208889b119.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/81fe4d6b-9374-427f-9ee6-a17c0b31f23b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/272b1072-358f-41b6-8b8e-aee862ec01bc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8dc78f50-e9ce-4be1-b363-c0d65225450e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ed0430b2-451c-4502-922f-691bbdb5dc0e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f263143f-6471-4595-9882-4f5c823a704c.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/f48ca445-c710-4487-a485-abf893000c1e.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/08cd13e2-c7e3-4f0f-91b7-61e19e4a7575.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/cc8ef02a-2151-4f63-9289-eca17bd9c645.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/4ff36edc-a643-476f-a0bd-776c65eb3a6a.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8915b990-7a0b-4b5e-be57-c1170fd50399.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/e4014820-d9dd-4b78-b6f1-6f75a643e35c.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/ef6028ce-78fc-444c-a855-3a4bc7ecc42b.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/7b445937-5338-42f6-8510-887b673fff85.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/8a24f798-f9f2-4bd4-ae27-e70257c338dc.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d5ea2f78-fd91-48d7-be90-856121063c4c.vsidx
/Inzynierka/Inzynierka/.vs/Inzynierka/FileContentIndex/d742dc85-0e71-4c27-94f4-988378b337b4.vsidx
