@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz swój klucz uwierzytelniający, aplikacja uwierzytelniająca nie będzie działać, dopóki jej nie skonfigurujesz ponownie.@* If you reset your authenticator key your authenticator app will not work until you reconfigure it. *@</strong>
    </p>
    <p>
        @* This process disables 2FA until you verify your authenticator app.
        If you do not complete your authenticator app configuration you may lose access to your account. *@
        Ten proces wyłącza 2FA, dopóki nie zweryfikujesz swojej aplikacji uwierzytelniającej.
        Jeśli nie ukończysz konfiguracji aplikacji uwierzytelniającej, możesz stracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
    </form>
</div>
