@{
    var roles = new[] { "Kapitan", "User", "Moderacja" };
    var isInRole = roles.Any(role => User.IsInRole(role));
    var isCaptain = User.IsInRole("Kapitan");
    var isModerator = User.IsInRole("Moderacja");
    var isUser = User.IsInRole("User");
    // var isBanned = (User.Identity.IsAuthenticated && ((ApplicationUser)User).Banned);
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ahoy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inzynierka.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ahoy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                      @*   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Yachts" asp-action="Index">Jachty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cruises" asp-action="Index">Rejsy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="YachtSales" asp-action="Index">Sprzedarz Jachtów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Charters" asp-action="Index">Czarter Jachtów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)//isInRole)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ulubione
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="FavoriteCruises" asp-action="Index">Ulubione Rejsy</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="FavoriteYachtsForSales" asp-action="Index">Ulubione Jachty na Sprzedaż</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Comments" asp-action="Index">Komętarze</a>
                            </li>
                          @*   <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Profil</a>
                            </li> *@
                            @if (isModerator || isCaptain)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Panel Kapitana
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="CruiseJoinRequests" asp-action="Index">Zgłoszenia</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="CruisesParticipants" asp-action="Index">Rejsy i członkowie</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (isModerator)
                            {
                                <li class="nav-item">
                                    @*  <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Admin Panel</a> *@
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin Panel
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <a class="dropdown-item" asp-action="Reports" asp-controller="Reports">Zgłoszenia</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-action="BannedUsers" asp-controller="Reports">Zbanowani Użytkownicy</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-action="Index" asp-controller="Roles">Role</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Inzynierka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
