@model Inzynierka.Data.Tables.Comments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytowanie</h1>

<h4>Komętarz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div> *@
            <input type="hidden" name="CreateDate" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" min="1" max="5" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharterId" class="control-label"></label>
                <select asp-for="CharterId" class="form-control" asp-items="ViewBag.CharterId"></select>
                <span asp-validation-for="CharterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CruisesId" class="control-label"></label>
                <select asp-for="CruisesId" class="form-control" asp-items="ViewBag.CruisesId"></select>
                <span asp-validation-for="CruisesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YachtsId" class="control-label"></label>
                <select asp-for="YachtsId" class="form-control" asp-items="ViewBag.YachtsId"></select>
                <span asp-validation-for="YachtsId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
